.hidden {
    display: none;
  }




/*.bg-image {
        /* The image used */
        /*background-image: url("couch.jpg");
      
      
      
        /* Full height */
        /*height: 100%;
      
        /* Center and scale the image nicely */
       /* background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
*/